<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- IP e porta local -->
		<add key="IPAddress" value="10.233.20.101"/>
		<add key="Port" value="1234"/>
		<!-- Pasta de destino dos tickets -->
		<add key="OutputFolder" value="C:\Dev\Projects\AvayaTicketCollector\TCPTicketCollectorService\Build"/>
		<!-- Intervalo de leitura dos tickets da central em segundos -->
		<add key="CheckInterval" value="1"/>
		<!-- Intervalo em que a concexão TCP deve reiniciar em segundos-->
		<add key="ResetHour" value="10"/>
		<add key="ResetMinute" value="10"/>
	</appSettings>
</configuration>