<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- IP e porta local -->
		<add key="IPAddress" value="10.233.20.101"/>
		<add key="Port" value="1234"/>
		<!-- Pasta de destino dos tickets -->
		<add key="OutputFolder" value="C:\Dev\Projects\AvayaTicketCollector\TCPTicketCollectorService\Build"/>
		<!-- Intervalo de leitura dos tickets da central -->
		<add key="CheckInterval" value="1000"/>
		<!-- Hora do dia que deverá reiniciar -->
		<add key="ResetHour" value="0"/> <!-- Meia noite -->
	</appSettings>
</configuration>